.card{
    border-radius: 10px;
    background-color: #cecdd3;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
}

.search-list{
    border-radius: 15px;
    background-color: #e5e8ed;
    font-family: 'Raleway', sans-serif;
}

.saveBook {
    border-radius: 5px;
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px;
    font-family: 'Raleway', sans-serif;
}

h3 {
    color: #343a40;
}